# Printing a number

We'll begin with the print statement, which is commonly the first thing you learn in most programming languages.

The print statement in Python is used to display output on the screen. You can use it to print numbers, text, or the results of expressions.

Let us output a number in Python.

This code just prints 12 on the screen when you run it.

In [1]:
print(12)

12

# Printing text

In the last problem, we saw how to print a number (using print).

Now let's see how to output some text.
To print text, there is only one difference. All textual content should start and end with either double quotes(" ") or single quotes(' ').

In [2]:
print("I love Python") # Output: I love Python
print('I love Python') # Output: I love Python

I love Python
I love Python

These two lines perform identical tasks; the first utilizes double quotes, while the second uses single quotes.

# Arithmetic Operations

We can also perform mathematical operations using print.

```py
print(2+4) # Output: 6
```

The above code will output the result of the mathematical operation, which is 6.

Note: If you enclose the operation within quotes, the entire expression will be treated as text (a string) and will be printed exactly as it is.

```py
print("2+4") # Output: 2+4
```

In this case, the output will be the string "2 + 4" instead of the result of the addition.

- Without quotes: The expression is evaluated, and the result is printed.
- With quotes: The expression is treated as a string and printed as it is.

Understanding this distinction is important for correctly displaying the results of calculations versus showing text.

# Multiple Outputs

You can add as many print statements as you want to your program. Each print statement outputs its content on a new line.

In [1]:
print("99")
print(100)

99
100

# Outputs on the same line

We can print multiple items by separating by commas. Python will automatically add a space between them.

In [2]:
print(1, 2, 3, 4) # Output: 1 2 3 4

1 2 3 4

When you use commas to separate items inside the print() function, Python prints each item with a space in between.

# Inserting text Between Outputs

Remember that to print multiple values on same line, we have to use comma inside print statement.

We can also combine text and numbers in a single print statement by comma separating them.

For example, check the below code:

In [3]:
print("My favorite number is", 10)

My favorite number is 10